**/bin/
**/obj/
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/a752e3db-7afb-4e8d-9155-09122d7414b0.vsidx
/WordTemplateToPdf/.vs/WordTemplateToPdf/v18/.suo
/WordTemplateToPdf/.vs/WordTemplateToPdf/copilot-chat/1fd60557/sessions/35c594a4-f280-4e9b-ae23-6a0a4fa1ffc1
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/CodeChunks.db
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/CodeChunks.db-shm
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/CodeChunks.db-wal
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/SemanticSymbols.db
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/SemanticSymbols.db-shm
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/SemanticSymbols.db-wal
/WordTemplateToPdf/.vs/WordTemplateToPdf/DesignTimeBuild/.dtbcache.v2
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/ac9dc877-4502-4288-8ea8-fe3d3d34df12.vsidx
/WordTemplateToPdf/.vs/WordTemplateToPdf/VSGitHubCopilot/ContextSpill/35c594a4f2804e9bae236a0a4fa1ffc1/94895791f857425eaa8c2eab768b1b40/debugger.txt
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/a65f0a37-d88b-47b7-a1ce-7707ccce4105.vsidx
/WordTemplateToPdf/.vs/CopilotSnapshots/3BAB584CC578D34DB729FE6C39AFD7C6/5871BFD93851AB4E92A6E9DD8D894812/3F4B794CE986901F3847AED2013E2A7D
/WordTemplateToPdf/.vs/CopilotSnapshots/3BAB584CC578D34DB729FE6C39AFD7C6/5871BFD93851AB4E92A6E9DD8D894812/A9726173F7B8FDCDD7B68AE900564F13
/WordTemplateToPdf/.vs/CopilotSnapshots/3BAB584CC578D34DB729FE6C39AFD7C6/5871BFD93851AB4E92A6E9DD8D894812/CC40A011C48E1DC25C110ED474D1B5F1
/WordTemplateToPdf/.vs/CopilotSnapshots/3BAB584CC578D34DB729FE6C39AFD7C6/state.mpack
/WordTemplateToPdf/.vs/WordTemplateToPdf/copilot-chat/1fd60557/sessions/4c58ab3b-78c5-4dd3-b729-fe6c39afd7c6
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/6710efcd-9a0f-4a5c-a384-217cf4875718.vsidx
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/243ee146-0d60-4e48-b275-7ccc56d57667.vsidx
/WordTemplateToPdf/.vs/ProjectEvaluation/wordtemplatetopdf.metadata.v10.bin
/WordTemplateToPdf/.vs/ProjectEvaluation/wordtemplatetopdf.projects.v10.bin
/WordTemplateToPdf/.vs/ProjectEvaluation/wordtemplatetopdf.strings.v10.bin
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39603.9996/CodeChunks.db
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39603.9996/CodeChunks.db-shm
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39603.9996/CodeChunks.db-wal
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39603.9996/SemanticSymbols.db
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-shm
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-wal
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/9f81d4bb-3f94-477b-b279-95545e377020.vsidx
/WordTemplateToPdf/.vs/WordTemplateToPdf/v18/.futdcache.v2
/WordTemplateToPdf/.vs/WordTemplateToPdf/v18/DocumentLayout.backup.json
/WordTemplateToPdf/.vs/WordTemplateToPdf/v18/DocumentLayout.json
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/efd2abf8-5f07-4354-832f-1dff6585ad1f.vsidx
