**/bin/
**/obj/
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/a752e3db-7afb-4e8d-9155-09122d7414b0.vsidx
/WordTemplateToPdf/.vs/WordTemplateToPdf/v18/.suo
/WordTemplateToPdf/.vs/WordTemplateToPdf/copilot-chat/1fd60557/sessions/35c594a4-f280-4e9b-ae23-6a0a4fa1ffc1
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/CodeChunks.db
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/CodeChunks.db-shm
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/CodeChunks.db-wal
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/SemanticSymbols.db
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/SemanticSymbols.db-shm
/WordTemplateToPdf/.vs/WordTemplateToPdf/CopilotIndices/18.6.39588.17144/SemanticSymbols.db-wal
/WordTemplateToPdf/.vs/WordTemplateToPdf/DesignTimeBuild/.dtbcache.v2
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/ac9dc877-4502-4288-8ea8-fe3d3d34df12.vsidx
/WordTemplateToPdf/.vs/WordTemplateToPdf/VSGitHubCopilot/ContextSpill/35c594a4f2804e9bae236a0a4fa1ffc1/94895791f857425eaa8c2eab768b1b40/debugger.txt
/WordTemplateToPdf/.vs/WordTemplateToPdf/FileContentIndex/a65f0a37-d88b-47b7-a1ce-7707ccce4105.vsidx
